{{- $isLinux := eq .chezmoi.os "linux" -}}
{{- $isDevContainer := or (eq .chezmoi.username "vscode") (eq .chezmoi.username "mthshp") -}}
# Model
model = "gpt-5-codex"
# TODO: Disable for now, to see if it helps with context rot
# model_reasoning_effort = "high"
model_reasoning_summary = "detailed"

# Sandbox

{{- if and $isLinux $isDevContainer }}
sandbox_mode = "danger-full-access" # Full access in dev containers
{{- else }}
sandbox_mode = "workspace-write" # Make cwd writable
{{- end }}

[sandbox_workspace_write]
network_access = true        # Allow network access
writable_roots = ["/wrkspc"] # Add dev container workspace dir

[shell_environment_policy]
# NOTE: Codex doesn't support variable expansion in the config file yet: https://github.com/openai/codex/issues/2680
set = { AGENT = "true", GIT_CONFIG_GLOBAL = "${HOME}/.config/git/agent.config" } # Use agent git config

# Tools

[tools]
web_search = true # Allow to google things
