[commit]
  gpgsign = true

[init]
  defaultBranch = "main"

[push]
  autoSetupRemote = true

[checkout]
  defaultRemote = origin

[gpg]
  format = "ssh"

[core]
  editor = nvim
  hooksPath = ~/.config/git/hooks

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
